#### KiCAD
1_PCB/.history/
1_PCB/PowerMonitor-backups/
*.kicad_prl
*.fp-info-cache
*.kicad_pro.lck
*.kicad_sch.lck

### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

*.zip

# =========================
# Embedded
# =========================
# =========================
# Build output
# =========================
Debug/
Release/
build/
Build/
out/

*.o
*.obj
*.d
*.dep
*.su
*.cyclo
*.gcno
*.gcda

*.elf
*.axf
*.hex
*.bin
*.map
*.list
*.lst
*.siz

# =========================
# STM32CubeIDE / Eclipse
# =========================
.metadata/
.recommenders/

.settings/language.settings.xml

# Launch/debug session files
*.launch

# =========================
# Editors
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Temporary / backup files
# =========================
*.tmp
*.temp
*.bak
*.swp
*.swo
*~
